.menu {
    padding: 40px 0 50px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .title {
        text-align: center;
    }
    &__field {
        margin-top: 50px;
        padding: 50px 0;
        width: 100%;
        background: rgba(249, 254, 126, 0.25);
    }
    &__item {
        width: 320px;
        min-height: 450px;
        background: #FFFFFF;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        font-weight: 300;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        &-subtitle {
            font-weight: bold;
            font-size: 18px;
            padding: 0 20px;
            margin-top: 20px;
        }
        &-descr {
            margin-top: 20px;
            padding: 0 20px;
        }
        &-divider {
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.25);
            margin-top: 40px;
        }
        &-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            span {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.dot {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 6px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}